.buttonBorderColor {border-color: none;}
.buttonBgColor {background-color: #e6e6e6;}
.buttonBgShadowColor {background-color: #efefef;}
.buttonBgGradColor {border-bottom-color: #efefef;}

.buttonOverBorderColor {border-color: none;}
.buttonOverBgColor {background-color: #d5d5d5;}
.buttonOverBgShadowColor {background-color: #dedede; }
.buttonOverBgGradColor {border-bottom-color: #dedede;}

.ImLeButton {display:-moz-inline-stack; display:inline-block; position:relative; zoom:1;}
	.ImLeButtonMainOut {cursor:default; list-style-image:none; list-style-position:outside; list-style-type:none; outline-style:none; outline-width:medium; text-decoration:none; vertical-align:middle; position:relative; word-wrap:break-word; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; border-bottom:1px solid #fff; display:-moz-inline-stack; display:inline-block; zoom:1;}
	.ImLeButtonMain {position:relative; word-wrap:break-word; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; border:1px solid #707070; display:-moz-inline-stack; display:inline-block; zoom:1;}
	.ImLeButtonMainInnerBox {position:relative; word-wrap:break-word; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; border-top:1px solid #fff; overflow:hidden; display:-moz-inline-stack; display:inline-block; zoom:1;}
	.ImLeButtonMainInner {font-size:12px; font-size-adjust:none; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; text-decoration: none; cursor:pointer;}
	.ImLeButtonMainShadow {height: 50%; left: 0; overflow: hidden; position: absolute; right: 0; top: 0;}

.ImLeButton-focused {box-shadow:0 0 3px #36d7ff; -webkit-box-shadow:0 0 3px #36d7ff; -moz-box-shadow:0 0 3px #36d7ff;}
	.ImLeButton-focused .ImLeButtonMain {border:1px solid #36a8d8;}
	.ImLeButton-focused .buttonBgColor {background:#d7e3e7;}
	.ImLeButton-focused .buttonBgShadowColor {background:#ddecef;}
	.ImLeButton-focused .ImLeButtonMainShadow {height:50%; border:0;}

.ImLeButtonMainContent {position:relative; text-align:center; min-width:60px; _width:60px; padding:0 0 1px;}
	html>body .ImLeButtonMainInner {position: relative;}
	.buttonText {color:#0E1C29; white-space:nowrap; font-size:12px; line-height:21px; padding:0 15px; font-weight:normal;}
	.buttonIcon {display:none;}
	.buttonDivResizer {float:left;}

* html .ImLeButton {display:inline; white-space: nowrap;}
	* html .ImLeButtonMainInnerBox {display:inline; position:static;}
	* html .imLeButtonMainOut {display:inline;}
	* html .ImLeButtonMain {display:inline;}
	* html .ImLeButtonMainContent {width:60px;}
	* html .ImLeButtonMainShadow {top:auto;}

*+html .ImLeButton {display:inline; white-space: nowrap;}
	*+html .ImLeButtonMainInnerBox {display:inline; position:static;}
	*+html .imLeButtonMainOut {display:inline;}
	*+html .ImLeButtonMain {display:inline;}
	*+html .ImLeButtonMainContent {width:60px;}
	*+html .ImLeButtonMainShadow {top:auto;}

.ActionButton {border:none !important; background:none !important; margin:0 10px 0 0; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;}
   	.ActionButton .buttonBorderColor {border:1px solid transparent !important; background:none !important; }
	.ActionButton .buttonBgColor {background:none;}
		.ActionButton .buttonBgShadowColor {display:none !important;}
		.ActionButton .ImLeButtonMainContent {min-width:0; _width:auto; text-align:left;}
        .ActionButton .buttonText {padding:0; font-size:11px; line-height:19px; text-decoration:underline; color:#626262; font-weight:normal; text-transform:lowercase;}
        .ActionButton .buttonBorderColor .buttonBorderColor {border:none !important;}
	.ActionButton .buttonOverBorderColor {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; border:1px solid transparent !important; background:none !important;}
        .ActionButton .buttonOverBorderColor .buttonOverBorderColor {border:none !important; background:none !important;}
        .ActionButton .buttonOverBgColor {background:none;}
        .ActionButton .buttonOverBgShadowColor {display:none !important;}
        .ActionButton .buttonOverBgColor .buttonText {color:#000;}
	.ActionButton.ImLeButton-focused {box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;}
        .ActionButton.ImLeButton-focused .buttonBgColor {background:none;}
        .ActionButton.ImLeButton-focused .buttonBorderColor {border:1px solid transparent; background:none !important;}
        .ActionButton.ImLeButton-focused .buttonText {color:#000;}
		
.GreenButton, .FormFieldset .ImLeButton, .InputMainButton.ImLeButton {-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
	.GreenButton .buttonBorderColor, .FormFieldset .buttonBorderColor, .InputMainButton .buttonBorderColor {border:1px solid #448002;}
	.GreenButton .buttonBgColor, .FormFieldset .buttonBgColor, .InputMainButton .buttonBgColor {background:#5bac00;}
	.GreenButton .buttonBgShadowColor, .FormFieldset .buttonBgShadowColor, .InputMainButton .buttonBgShadowColor {border-bottom:none;}
	.GreenButton .buttonBgGradColor, .FormFieldset .buttonBgGradColor, .InputMainButton .buttonBgGradColor {background:#61b701;}
	.GreenButton .buttonBorderColor .buttonBorderColor, .FormFieldset .buttonBorderColor .buttonBorderColor, .InputMainButton .buttonBorderColor .buttonBorderColor {border:none; border-top:1px solid #87d62f;}
	.GreenButton .buttonOverBorderColor, .FormFieldset .buttonOverBorderColor, .InputMainButton .buttonOverBorderColor {border:1px solid #448002;}
	.GreenButton .buttonOverBgColor, .FormFieldset .buttonOverBgColor, .InputMainButton .buttonOverBgColor {background:#519a00;}
	.GreenButton .buttonOverBgShadowColor, .FormFieldset .buttonOverBgShadowColor, .InputMainButton .buttonOverBgShadowColor {border-bottom:none;}
	.GreenButton .buttonOverBgGradColor, .FormFieldset .buttonOverBgGradColor, .InputMainButton .buttonOverBgGradColor {background:#5dac05;}
	.GreenButton .buttonOverBorderColor .buttonOverBorderColor, .FormFieldset .buttonOverBorderColor .buttonOverBorderColor, .InputMainButton .buttonOverBorderColor .buttonOverBorderColor {border:none; border-top:1px solid #62ba00;}
	.GreenButton .buttonText, .FormFieldset .buttonText, .InputMainButton .buttonText {color:#fff; text-shadow:0 1px #498b00; -moz-text-shadow:0 1px #498b00; -webkit-text-shadow:0 1px #498b00;}
		.FormFieldset .ActionButton .buttonText {color:#626262;}
			.FormFieldset .ActionButton .buttonOverBgColor .buttonText {color:#000;}

.OrangeButton {-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
	.OrangeButton .buttonBorderColor {border:1px solid #a65a00;}
	.OrangeButton .buttonBgColor {background:#f97b00;}
	.OrangeButton .buttonBgShadowColor {border-bottom:none;}
	.OrangeButton .buttonBgGradColor {background:#ff8800;}
	.OrangeButton .buttonBorderColor .buttonBorderColor {border:none; border-top:1px solid #ffa640;}
	.OrangeButton .buttonOverBorderColor {border:1px solid #a65a00;}
	.OrangeButton .buttonOverBgColor {background:#f76800;}
	.OrangeButton .buttonOverBgShadowColor {border-bottom:none;}
	.OrangeButton .buttonOverBgGradColor {background:#ff7500;}
	.OrangeButton .buttonOverBorderColor .buttonOverBorderColor {border:none; border-top:1px solid #ff9432;}
	.OrangeButton .buttonText {color:#fff; text-shadow:0 1px #cb6400; -moz-text-shadow:0 1px #cb6400; -webkit-text-shadow:0 1px #cb6400;}

.WhiteButton .buttonBorderColor {border:1px solid #ababab;}
	.WhiteButton .buttonBgColor {background:#f7f7f7;}
	.WhiteButton .buttonBgShadowColor {border-bottom:none;}
	.WhiteButton .buttonBgGradColor {background:#fff; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
	.WhiteButton .buttonBorderColor .buttonBorderColor  {border:none;}
	.WhiteButton .buttonBorderColor .ImLeButtonMainInnerBox {border-top:1px solid transparent;}
	.WhiteButton .buttonOverBorderColor {border:1px solid #ababab;}
	.WhiteButton .buttonOverBgColor {background:#ededed;}
	.WhiteButton .buttonOverBgShadowColor {border-bottom:none;}
	.WhiteButton .buttonOverBgGradColor {background:#f2f2f2; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
	.WhiteButton .buttonOverBorderColor .buttonOverBorderColor  {border:none;}
	.WhiteButton .buttonOverBorderColor .ImLeButtonMainInnerBox {border-top:1px solid transparent;}

.ButtonLikeIcon {margin:0 !important;}
	.ButtonLikeIcon {border:none !important; display:block; cursor:pointer;}
    .ButtonLikeIcon .buttonBorderColor {border:none !important; background:none !important;}
    .ButtonLikeIcon .buttonBgColor {background:none !important;}
	.ButtonLikeIcon .buttonText {display:none !important;}
	.ButtonLikeIcon .ImLeButtonMainShadow {display:none;}
	.ButtonLikeIcon.Disabled {display:none !important;}
	.ButtonLikeIcon .buttonIcon {display:block;}
	.ButtonLikeIcon .ImLeButtonMainContent {min-width:0px; width:auto;} 
	.ButtonLikeIcon .ImLeButtonMain,
		.ButtonLikeIcon .ImLeButtonMainInnerBox {border:none !important; background:none !important;}
	.ButtonLikeIcon.ImLeButton-focused {box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;}
		
.ButtonLikeLink {border:none !important; background:none !important; margin-left:0px; box-shadow:none !important; -webkit-box-shadow:none !important; -moz-box-shadow:none !important;}
    .ButtonLikeLink .buttonBorderColor {border:none !important; background:none !important;}
    .ButtonLikeLink .buttonBgColor {background:none !important;}
    .ButtonLikeLink .buttonBgShadowColor {display:none !important;}
    .ButtonLikeLink .buttonText {font-size:11px; text-decoration:underline !important; color:#626262 !important; font-weight:normal !important; padding:0; line-height:inherit !important; text-shadow:none !important; -webkit-text-shadow:none !important; -moz-text-shadow:none !important;}
    .ButtonLikeLink .buttonBorderColor .buttonBorderColor {border:none !important;}
	.ButtonLikeLink .buttonOverBorderColor {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; border:none !important;}
	.ButtonLikeLink .buttonOverBorderColor .buttonOverBorderColor {border:none !important;}
	.ButtonLikeLink .buttonOverBgColor {background:none !important;}
	.ButtonLikeLink .buttonOverBgShadowColor {background:transparent !important;}
    .ButtonLikeLink .buttonOverBgColor .buttonText {color:#000 !important;}	
	.ButtonLikeLink.ImLeButton-focused {box-shadow:none !important; -webkit-box-shadow:none !important; -moz-box-shadow:none !important;}
	.ButtonLikeLink.ImLeButton-focused .buttonBgColor {background:none !important;}
    .ButtonLikeLink.ImLeButton-focused .buttonBorderColor {border:none !important; background:none !important;}
    .ButtonLikeLink.ImLeButton-focused .buttonText {color:#000 !important;}
    .ButtonLikeLink .ImLeButtonMainContent {min-width:0px; width:auto;} 
    
.SelectButton {margin:0;}
	.SelectButton .buttonText {padding:0 25px 0 10px; background:url("img/expand3.png") no-repeat right 7px;}
		 .SelectButton.ImLeButton-expand .buttonText {background:url("img/expand3.png") no-repeat right 7px;}
	.SelectButton.ButtonLikeLink .buttonText {padding:0 25px 0 10px; background:url("img/expand2.png") no-repeat right 4px;}
		 .SelectButton.ButtonLikeLink.ImLeButton-expand .buttonText {background:url("img/expand2.png") no-repeat right -17px;}

.ButtonWithIcon .buttonText {padding:0 13px 0 26px;}
	.ButtonWithIcon .buttonIcon {display:block; position:absolute; top:3px; left:7px; width:16px; height:16px;}

.AddItemButton.SelectButton .buttonText {padding: 0 25px;}
	.AddItemButton.SelectButton .buttonIcon {display:block; position:absolute; top:3px; left:3px; width:16px; height:16px;}
	
.SmallButton .buttonText {font-size:10px; font-size:0.6rem; line-height:17px; line-height:1.1rem; font-style:normal;}
	.AddItemButton.SmallButton .buttonIcon {display:block; position:absolute; top:0px; left:3px; width:16px; height:16px;}
	.SmallButton.SelectButton .buttonText {background-position:right 5px;}
		 .SmallButton.SelectButton.ImLeButton-expand .buttonText {background-position:right 5px;}

.DropDownButton {display:inline-block; white-space:nowrap; margin-left:5px;}
	* html .DropDownButton {display:inline;}
	*+html .DropDownButton {display:inline;}
	* html .DropDownButtonExpand {display:inline;}
	*+html .DropDownButtonExpand {display:inline;}
	.DropDownButton .ImLeButton {border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; margin:0 !important;}
		.DropDownButton .ImLeButtonMain {border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px;}
	.DropDownButtonExpand .ImLeButton {margin-left:0 !important; border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0;}
		.DropDownButtonExpand .ImLeButton .ImLeButtonMain {border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; border-left:none;}
		.DropDownButtonExpand .ImLeButton .buttonText {display:block; height:21px; width:20px; padding:0; background:url("img/expand-button.png") no-repeat 6px 9px;}
				.DropDownButtonExpand .SelectButton.ImLeButton-expand .buttonText {background:url("img/expand-button.png") no-repeat 6px 9px;}
		* html .DropDownButtonExpand .ImLeButton .buttonText {height:18px;} 
		*+html .DropDownButtonExpand .ImLeButton .buttonText {height:18px;}
	.DropDownButtonExpand .ImLeButtonMainContent {min-width:0px; _width:auto;}
	.DropDownButtonExpand .ImLeButton-expand .buttonBgColor {background:#bcbcbc; border-top:1px solid #d5d5d5;}
		.DropDownButtonExpand .ImLeButton-expand .buttonBgShadowColor {background:#c5c5c5;}
		.DropDownButtonExpand .ImLeButton-focused.ImLeButton-expand {box-shadow:none;}
		.DropDownButtonExpand .ImLeButton-focused.ImLeButton-expand .ImLeButtonMain {border-color:#707070;}
		.DropDownButtonExpand .ImLeButton-expand .buttonOverBgColor {background:#bcbcbc; border-top:1px solid #d5d5d5;}
		.DropDownButtonExpand .ImLeButton-expand .buttonOverBgShadowColor {background:#c5c5c5;}
		
.Disabled .buttonText {cursor:default; color:#ababab;}
	.Disabled .buttonBorderColor {border-color:#ababab;}
	.Disabled .buttonBorderColor .buttonBorderColor {border-color:#fff;}
	.Disabled .buttonBgColor {background-color: #E6E6E6;}
	.Disabled .buttonBgGradColor {background-color: #EFEFEF;}
	.Disabled .buttonText {text-shadow: none;}

.MoreButton .buttonText {padding-right: 25px;}